.App {
  text-align: center;
}

a {
  color: #F48E58;
}

li {
  list-style: none;
  text-align: left;
}

.social-sharing {
  position: fixed;
  z-index: 111;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: auto;
  height: 2rem;
  overflow-y: hidden;
}

.social-sharing {
  width: auto;
  height: 3rem;
}

.social-sharing a:not(:last-of-type) {
  border-right: 1px solid #FFFBFB;
}

.social-sharing a {
  background: #F48E58;
  cursor: pointer;
  padding: 1.5rem .75rem;
  text-decoration: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-sharing a svg {
  fill: #FFFBFB;
}

.App-header {
  background-color: #7e5035;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.megadraft-editor {
  text-align: left;
  color: #FFFBFB !important;
}